<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kimchi_RMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kimchi_RMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-white">
            <div class="container-fluid d-flex justify-content-between ps-4">
                <a class="navbar-brand" asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><img src="/images/kimchi_logo.jpg" style="width:55px;border-radius:30px;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse ps-4">
                <div class="position-sticky pt-3">
                    <ul class="navbar-nav pb-3">
                        <li>
                            <div class="text-muted small fw-medium text-uppercase pb-2 text-start">
                                Main
                            </div>
                        </li>
                        <li class="nav-item pb-3">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                                <span class="fw-medium me-2">
                                    <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/control-panel--v2.png" alt="control-panel--v2" />
                                    Dashboard
                                    </span>
                            </a>
                        </li>
                        <li class="nav-item pb-4">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Order" asp-action="Index">
                                <span class="fw-medium me-2">
                                    <img width="25" height="25" src="https://img.icons8.com/fluency-systems-filled/50/purchase-order.png" alt="purchase-order" />
                                    My Orders
                                </span>
                            </a>
                        </li>
                        <li class="nav-item pb-4">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Menu" asp-action="Index">
                                <span class="fw-medium me-2">
                                    <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/cutlery.png" alt="cutlery" />
                                    Menu Items
                                </span>
                            </a>
                        </li>
                        <li class="nav-item pb-4">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Staff" asp-action="Index">
                                <span class="fw-medium me-2">
                                    <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/conference-background-selected.png" alt="conference-background-selected" />
                                    My Staff
                                </span>
                            </a>
                        </li>
                        <li class="nav-item pb-4">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Transaction" asp-action="Index">
                                <span class="fw-medium me-2">
                                    <img width="25" height="25" src="https://img.icons8.com/sf-regular/50/refund-2.png" alt="refund-2" />
                                    Transactions
                                </span>
                            </a>
                        </li>
                            <li class="nav-item pb-4">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Inventory" asp-action="Index">
                                <span class="fw-medium me-2">
                                    <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/warehouse.png" alt="warehouse" />
                                    My Inventory
                                </span>
                            </a>
                        </li>
                        <li class="nav-item pb-4">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="BookingManagement" asp-action="Index">
                                <span class="fw-medium me-2">
                                    <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/city-hall.png" alt="city-hall" />
                                    Bookings
                                </span>
                            </a>
                        </li>
                        <li class="nav-item pb-4">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Feedback" asp-action="Index">
                                <span class="fw-medium me-2">
                                    <img width="25" height="25" src="https://img.icons8.com/material-rounded/50/topic.png" alt="topic" />
                                    Feedbacks
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr/>
                <partial name="_AdminLogoutPartial"/>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-md-nowrap align-items-center w-100 mb-3 flex-wrap pb-2 pt-3">
                    <partial name="_Notifications" />
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            Made by Sameer!
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/AJAX.js"></script>
    <script src="~/js/SweetAlerts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
