<div class="container">
    <div class="row ms-5 ps-5">
        <!-- Directions Section -->
        <div class="col-md-3 mb-4">
            <h4 class="fw-bold">Directions</h4>
            <p class="text-muted mb-1">Kimchi</p>
            <p class="text-muted mb-1">Anamnagar, Kathmandu, Nepal</p>
            <p class="text-muted">📞 (01) 4771046</p>
        </div>

        <!-- Opening Time Section -->
        <div class="col-md-3 mb-4">
            <h4 class="fw-bold">Opening Time</h4>
            <p class="text-muted mb-1"><strong>Sunday – Friday:</strong></p>
            <p> 9:00 AM - 10:00 PM</p>
            <p class="text-muted mb-1"><strong>Sunday:</strong></p>
            <p> 11:00 AM - 10:00 PM</p>
        </div>
        <!-- Page Link Section -->
        <div class="col-md-3 mb-4">
            <h4 class="fw-bold text-uppercase">Quick Links</h4>
            <div class="d-flex flex-column">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="footer-link">Home</a>
                <a asp-area="Customer" asp-controller="Home" asp-action="Menu" class="footer-link">About Us</a>
                <a asp-area="Customer" asp-controller="Home" asp-action="Privacy" class="footer-link">Reservation</a>
                <a asp-area="Identity" asp-page="/Account/Register" class="footer-link">Sign Up</a>
            </div>
        </div>
        <!-- Follow Us Section -->
        <div class="col-md-3">
            <h4 class="fw-bold">Follow Us</h4>
            <div class="d-flex justify-content-md-start gap-3">
                <a href="https://www.facebook.com/KimchiRestaurent/" target="_blank" class="text-dark fs-4 icon"><i class="bi bi-facebook text-primary"></i></a>
                <a href="#" class="text-dark fs-4 icon"><i class="bi bi-twitter-x"></i></a>
                <a href="https://www.instagram.com/_kimchi.restaurant/" target="_blank" class="text-dark fs-4 icon"><i class="bi bi-instagram text-danger"></i></a>
            </div>
        </div>
    </div>
    <hr />
    <div class="text-center">
        <p class="text-muted">Copyright&#xA9 2025 Kimchi Resturant and Banquet</p>
    </div>
</div>