
<div class="container pb-3">
    <div class="row g-5 ms-md-5 ps-md-5">
        <!-- Directions Section -->
        <div class="col-md-3">
            <h4 class="fw-bold text-success">Directions</h4>
            <p class="text-white mb-1">Kimchi</p>
            <p class="text-white mb-1">Anamnagar, Kathmandu, Nepal</p>
            <p class="text-white mb-0"><i class="bi bi-telephone me-2"></i>(01) 4771046</p>
        </div>

        <!-- Opening Time Section -->
        <div class="col-md-3">
            <h4 class="fw-bold text-success">Opening Time</h4>
            <p class="text-white mb-1"><strong>Sunday – Friday:</strong></p>
            <p class="mb-2 text-white">9:00 AM - 10:00 PM</p>
            <p class="text-white mb-1"><strong>Saturday:</strong></p>
            <p class="mb-2 text-white">11:00 AM - 10:00 PM</p>
        </div>

        <!-- Page Link Section -->
        <div class="col-md-3">
            <h4 class="fw-bold text-uppercase text-success">Quick Links</h4>
            <div class="d-flex flex-column">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="footer-link text-decoration-none text-white mb-2"><i class="bi bi-house-door me-2"></i>Home</a>
                <a asp-area="Customer" asp-controller="Home" asp-action="Menu" class="footer-link text-decoration-none text-white mb-2"><i class="bi bi-bag me-2"></i>Menu</a>
                <a asp-area="Customer" asp-controller="Booking" asp-action="Index" class="footer-link text-decoration-none text-white mb-2"><i class="bi bi-calendar2-check me-2"></i>Reservation</a>
                <a asp-area="Customer" asp-controller="Feedback" asp-action="Index" class="footer-link text-decoration-none text-white mb-2"><i class="bi bi-chat-square-text me-2"></i>Feedback</a>
                <a asp-area="Customer" asp-controller="Home" asp-action="Contact" class="footer-link text-decoration-none text-white mb-2"><i class="bi bi-telephone me-2"></i>Contact Us</a>
                <a asp-area="Identity" asp-page="/Account/Register" class="footer-link text-decoration-none text-white mb-2"><i class="bi bi-person-plus me-2"></i>Sign Up</a>
            </div>
        </div>

        <!-- Follow Us Section -->
        <div class="col-md-3">
            <h4 class="fw-bold text-success">Follow Us</h4>
            <div class="d-flex gap-3">
                <a href="https://www.facebook.com/KimchiRestaurent/" target="_blank" class="text-decoration-none text-primary fs-4 team-card"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/_kimchi.restaurant/" target="_blank" class="text-decoration-none text-danger fs-4 team-card"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
    <hr class="my-4 border-2 border-success"/>
    <div class="text-center">
        <p class="text-white mb-0">© 2025 Kimchi Resturant and Banquet</p>
    </div>
</div>
