@using Microsoft.AspNetCore.Identity
@using RMS.Domain.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    //castinh User model to identity model
    var user = await UserManager.GetUserAsync(User) as User;
    var displayName = user?.Name ?? UserManager.GetUserName(User);
}
<ul class="navbar-nav rounded-pill px-3"style="cursor:pointer;padding-top:1.5px;padding-bottom:1.5px; background-color:darkgreen;">
@if (SignInManager.IsSignedIn(User))
{
     <li class="nav-item  dropdown hover-zoom z-3">
            <a class="nav-link dropdown-toggle fw-bolder text-white btn-click" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle text-success"></i> Profile
            </a>
         <ul class="dropdown-menu">
            <li class="nav-item hover-zoom">
                    <a id="manage" class="nav-link text-dark btn-click" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="bi bi-person-check text-success"></i> Hi @displayName</a>
            </li>
            <li class="nav-item hover-zoom">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn-link text-dark btn-click"><i class="bi bi-box-arrow-left text-success"></i> Logout</button>
                </form>
            </li>
        </ul>
     </li>        
}
else
{
        <li class="nav-item dropdown hover-zoom  z-3">
            <a class=" nav-link dropdown-toggle fw-bolder text-white btn-click" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle text-success"></i> Sign Up
            </a>
            <ul class="dropdown-menu z-3">
                <li class="nav-item hover-zoom">
                    <a class="nav-link text-dark btn-click" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-add text-success"></i> Register</a>
                </li>
                <li class="nav-item hover-zoom">
                    <a class="nav-link text-dark btn-click" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-right text-success"></i> Login</a>
                </li>
            </ul>
        </li>
 
}
</ul>
