
    <h1 class="text-center mb-5 fw-bold">Our Team</h1>
    <div class="d-flex flex-row justify-content-evenly align-items-center">

        <div class="card" style="width: 18rem;">
            <img src="~/images/restaurant.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's content</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/restaurant.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's content</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/restaurant.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

