@model Booking

<div style="background: url('/images/restaurant.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100vh;"
        class="d-flex justify-content-center align-items-center mt-0 pb-0">
    <div class="background-filter">
        <h2 class="text-center mb-4 fw-medium">Reserve Banquet</h2>
        <hr />
        <form method="post" asp-controller="Booking">
            <div class="row g-3">
                <div class="col-md-12">
                    <label asp-for="Name" class="form-label">Full Name:</label>
                    <input asp-for="Name" type="text" class="form-control text-dark-emphasis" placeholder="Your Full Name">
                    <span asp-validation-for="Name" class="text-danger"/>
                </div>
                <div class="col-md-6">
                    <label asp-for="PhoneNumber" class="form-label">Contact No:</label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Your Contact Number">
                    <span asp-validation-for="PhoneNumber" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label asp-for="Email" class="form-label">Email:</label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="Your Email">
                    <span asp-validation-for="Email" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label asp-for="ArrivalDate" class="form-label">Booking Date:</label>
                    <input asp-for="ArrivalDate" type="date" class="form-control">
                    <span asp-validation-for="ArrivalDate" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label asp-for="ArrivalTime" class="form-label">Arrival Time:</label>
                    <input asp-for="ArrivalTime" type="time" class="form-control">
                    <span asp-validation-for="ArrivalTime" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label asp-for="NumberOfPlates" class="form-label">No. of Plates:</label>
                    <input asp-for="NumberOfPlates" type="number" class="form-control" placeholder="Number of Plates">
                    <span asp-validation-for="NumberOfPlates" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label asp-for="Food" class="form-label">Food:</label>
                    <select asp-for="Food" asp-items="Html.GetEnumSelectList<FoodType>()" class="form-select">
                        <option disabled selected>Choose Food</option>
                    </select>
                    <span asp-validation-for="Food" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label asp-for="Drinks" class="form-label">Drinks:</label>
                    <select asp-for="Drinks" asp-items="Html.GetEnumSelectList<DrinkType>()" class="form-select">
                        <option disabled selected>Choose Drinks</option>   
                    </select>
                    <span asp-validation-for="Drinks" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label asp-for="EventType" class="form-label">Event Type:</label>
                    <select asp-for="EventType" asp-items="Html.GetEnumSelectList<EventType>()" class="form-select">
                        <option disabled selected>Choose Event Type</option>
                    </select>
                    <span asp-validation-for="EventType" class="text-danger" />
                </div>
                <div class="col-12">
                    <button type="submit" class="btn-six btn-click rounded-2 w-100 p-2 mt-1">Make a Reservation</button>
                </div>
            </div>
        </form>
    </div>

</div>



